cluster-enabled : yes
cluster-config-file : "filename"
cluster-node-timeout : "in milliseconds"
cluster-slave-validity-factor  : (value) when master fails the replica waits for value*timeout to take over
cluster-require-full-coverage : 
cluster-allow-reads-when-down : //set to yes


/*examples:*/

port 7000
cluster-enabled yes
cluster-config-file nodes.conf
cluster-node-timeout 5000
appendonly yes
best prcatice to make it 3 by 3 nodes [3 masters  + 3 slaves]
